/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #0d1117;
  color: white;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/Hermia Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
